worker_processes  1;

events {
  worker_connections  1024;
}

http {
  upstream todo.local {
    server ${DOCKER_HOST}:${DOCKER_PORT};
  }

  server {
    listen 80;
    location / {
      proxy_pass http://${SERVER_NAME};
    }
  }
}
